<!-- Projects Row -->
<div class="row">
    <h2>Booking information</h2>
    <hr>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-success"><%= @message %></p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->