<%
	@categories = Category.all
%>

<p class="lead">Categories</p>
<div class="list-group">
	<% @categories.each do |item| %>
		<a href="<%= categories_path(item) %>" class="list-group-item"><%= item.title %></a>
	<% end %>
</div>