<%
	@categories = Category.all
%>

<p class="lead">Shop Name</p>
<div class="list-group">
	<% @categories.each do |item| %>
		<a href="#" class="list-group-item"><%= item.title %></a>
	<% end %>
</div>